<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <title>{% block title %}Bienvenue{% endblock %} | SnowTricks</title>
</head>

<body class="website">

    {# Top Header #}
    {# include 'template-parts/website-top-header.part.twig' #}

    {# Header + Nav #}
    {# include'template-parts/website-header.part.twig' #}
    {% include('parts/navmenu.part.twig') %}

    {# Main content #}
    <div id="site-background" class="container-fluid p-0">
        <main id="main-content" class="container shadow p-0">

            <div class="row px-4 py-3">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>

            {% block body %}{% endblock body %}

        </main>
    </div>

    {# Footer #}
    {# include 'template-parts/website-footer.part.twig' #}

<script src="{{ asset('/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
