<h1>Réintialisation de votre mot de passe</h1>

<p>Vous avez demandé la réintialisation du mot de passe de votre compte SnowTricks.</p>

<p>Voici un lien pour le réinitialiser :</p>

<a href="{{ url('app_reset_password', {'uuid': uuid}) }}">{{ url('app_reset_password', {'uuid': uuid}) }}</a>

<p>À très vite !</p>

<p>L'équipe SnowTricks</p>
