{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Mot de passe oublié ?</h1>

    <p>
        Pas de panique ! Nous allons vous aider à le réinitialiser. Saisissez l'adresse email de votre compte et nous vous enverrons
        un lien pour réinitialiser votre mot de passe.
    </p>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {
            label: "Quelle est l'adresse email liée à votre compte ?",
            attr: {placeholder: "Saisissez votre adresse email..."}
        }) }}

        <button class="btn btn-primary btn-lg">Réinitialiser mon mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
