###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/node_modules
/var/
/vendor/
/public/uploads/images/*
!/public/uploads/images/.gitkeep
###< symfony/framework-bundle ###
