{% extends 'base.html.twig' %}

{% block title %}Figures dans la catégorie {{ category.name|capitalize }}{% endblock %}

{% block body %}

    <h1>Figures dans la catégorie {{ category.name|capitalize }}</h1>

    {% if figures is empty %}

        <h2>Désolé...</h2>
        <p>Il n'y a pas encore de figure dans cette catégorie. Revenez un peu plus tard !</p>

    {% else %}

        {% include '_parts/figure_grid.part.twig' %}

    {% endif %}

{% endblock %}
