{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}

    <h1>Liste des figures</h1>

    {% if figures is empty %}

        <h2>Désolé...</h2>
        <p>Il n'y a pas encore de figure. Revenez un peu plus tard !</p>

    {% else %}

        {% include '_parts/figure_grid.part.twig' %}

    {% endif %}

{% endblock %}
