<h1>Bienvenue chez SnowTricks !</h1>

<p>Merci d'avoir rejoint notre communauté ! Pour profiter pleinement du site, veuillez valider votre compte en cliquant sur le lien ci-dessous :</p>

<p>
    <a href="{{ uuid }}">Confirmer mon compte</a>
</p>

<p>Vous pourrez ensuite poster votre première figure ou échanger avec les autres membres via les espaces de discussion !</p>


<p>À très vite !</p>

<p>L'équipe SnowTricks</p>
