<h1>Bienvenue chez SnowTricks !</h1>

<p>
    Merci d'avoir rejoint notre communauté ! Pour profiter pleinement du site, veuillez valider votre compte en cliquant sur le lien ci-dessous :<br><br>
    <a href="{{ signedUrl }}">Confirmer mon compte</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt !
</p>

<p>
    L'équipe SnowTricks
</p>
